.welcome_index {
  background: url("background.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: 5%;
}

.center_image {
  max-width: 60%;
  margin-left: 20%;
}

.select_tag {
  width: 3rem;
}

.index_img {
  opacity: 1.0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.index_img:hover {
  opacity: 0.6;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
