@media only screen and (min-width: 40em) {
  .top-bar {
    text-align: right; }

  ul.center-buttons {
    display: inline-block; }

  .logo {
    left: 5px;
    top: -2px;
    position: absolute;
    z-index: 10;}}
.logo {
  max-width: 15rem;
  margin-top: -3px;
  margin-left: 5px; }

.menu-icon {
  padding-top: 1.1rem; }

.top-bar.expanded {
  background: #000000; }

.logo {
  margin-top: .1rem; }
