<div class="contain-to-grid sticky" xmlns="http://www.w3.org/1999/html">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: [medium, large]">
    <ul class="title-area">
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <div class="logo">
      <%= link_to image_tag("PBB_WhiteText_400x75.png"), root_path %>
    </div>
    <section class="top-bar-section">
      <%= render 'layouts/navigation_links' %>
    </section>
  </nav>
</div>
